body {
    background: #aaa url(images/bg.png);
    color: #222;
    font-family: sans-serif;
    margin: 100px auto;
    width: 400px;
}

form {
    -webkit-box-shadow: 0 0 5px #000;
    background: #252123 url(images/formbg.png);
    border-radius: 3px;
    border: 1px solid #151515;
    box-shadow: 0 0 5px #000;
}

form div {
    padding: 1em;
}

h1 {
    color: #D6AD7C;
    font-weight: normal;
    margin: 0;
    text-shadow: 1px 1px 0 black;
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-top: 1px solid #000;
    border-left: none;
    border-right: none;
}

label,input {
    display: block;
}

label {
    color: #9EACA7;
    margin-top: 1.1em;
    text-shadow: 1px 1px 0 black;
}

input {
    background: #1d1d1d;
    border-radius: 3px;
    border: 1px solid #0a0a0a;
    -webkit-box-shadow: 0 0 10px #111 inset;
    box-shadow: 0 0 10px #111 inset;
    color: #ccc;
    font-weight: bold;
    height: 30px;
    padding: 0 10px;
    width: 70%;
}

input:focus {
    background: #141414;
    outline: 1px solid #111;
}

input[type=submit] {
    width: 25%;
    display: inline;
    margin-top: 1em;
    margin-right: 1em;
}

a {
    color: #909BAC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}
