/*
 *   __  ____        ______  ____  
 *  |  \/  \ \      / /  _ \/ ___| 
 *  | |\/| |\ \ /\ / /| |_) \___ \ 
 *  | |  | | \ V  V / |  __/ ___) |
 *  |_|  |_|  \_/\_/  |_|   |____/ 
 *  Martian Wabbit Productions (c) All Rights Reserved 2012.
 *
 */
body {
    background: #aaa url(images/bg.png);
    color: #222;
    font-family: sans-serif;
    margin: 50px auto;
    width: 400px;
}

form {
    background: #252123 url(images/formbg.png);
    border-radius: 3px;
    border: 1px solid #151515;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    padding: 1em;
}

h1 {
    color: #D6AD7C;
    font-weight: normal;
    margin: 0;
    text-shadow: 1px 1px 0 black;
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-left: none;
    border-right: none;
    border-top: 1px solid #000;
}

label,input {
    display: block;
}

label {
    color: #9EACA7;
    margin-top: 1.1em;
    text-shadow: 1px 1px 0 black;
}

label p {
    text-shadow: none;
    font-weight: 400;
    color: #d32d2d;
}

input {
    background: #1d1d1d;
    border-radius: 3px;
    border: 1px solid #0a0a0a;
    -webkit-box-shadow: 0 0 10px #111 inset;
    box-shadow: 0 0 10px #111 inset;
    color: #ccc;
    font-weight: bold;
    height: 30px;
    padding: 0 10px;
    width: 70%;
}

input:focus {
    background: #141414;
    outline: 1px solid #111;
}

input[type=submit] {
    background: #b37c3b;
    background: -moz-linear-gradient(center top, #b37c3b 5%, #9b622b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b37c3b), color-stop(1, #9b622b));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 5px #111;
    color:#ffffff;
    margin-top: 1em;
    text-shadow: 1px 1px 0px #523009;
    width: 25%;
}

input[type=submit]:hover {
    background: #b37c3b;
}

input[type=submit]:active {
    background: #9b622b;
    box-shadow: none;
}

.error input {
    border: 1px solid #d32d2d;
}
